<label for="name">Full name: </label>
<input type="text" name="name" placeholder="firstname lastname" id="name" value="<%= author.name %>"><br><br>
    
<!-- <label for="e-mail">Enter your email: </label>
<input type="email" name="e_mail" id="e-mail" placeholder="name@example.com"><br><br> -->